.testimonials {
    background-image: url('../img/testmonials-bg.jpg');
    background-position-x: center;
    background-size: 1920px 850px;
    background-repeat: no-repeat;

    &__title {
        text-align: center;
        padding: 110px 0 85px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 110px; 
    }

    &__card {
        @include flex-column-center;
        gap: 30px;
        &_text {
            text-align: center;
            font-family: Lato;
            font-size: 16px;
            font-style: italic;
            font-weight: 700;
            line-height: 24px;
        }
    }

    &__footer {
        @include flex-column-center;
        gap: 20px;
        padding: 120px 0 30px 0;
    }

    &__description {
        max-width: 890px;
        color: #A291A5;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    &__line {
        content: '';
        display: block;
        width: 780px;
        height: 2px;
        background: #645766;
    }
}